.header {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color:rgba(11, 3, 3, 0.92);
}

.header2 {
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color:rgba(11, 3, 3, 0.92);
}

.pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: auto;
}

.code {
  font-family: monospace;
  color: #333;
}

.ol {
  padding-left: 20px; /* Adjust this for the space between the list numbers and the text */
}
.li {
  padding-left: 10px; /* Adds space between number and text */
}